app/pug/index.pug
doctype html
html(lang="ru-RU")
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Duotek test
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src="js/libs.min.js")
        script(src="js/records.js")
        script(src="js/common.js")

    body
        .wrap
            header.header
               .header__icons
                   img(src="img/logo.svg", alt="logo")
                   .header__nav-icon
                       .header__hamburger
               nav.header__nav
                   ul
                       li.header__nav__item.header__nav__item-active
                           a(href="#") Календарь
                       li.header__nav__item
                           a(href="#") Сообщения
                       li.header__nav__item
                           a(href="#") Собеседники
                       li.header__nav__item
                           a(href="#") Репетиторы
               .profile
                   .profile__avatar
                       img(src="img/ava1.png", alt="avatar").icon-round
                   .profile__info
                       .profile__name
                            a(href="#") Екатерина М.
                       .profile__stat
                           .profile__g
                               p 52
                               img(src="img/fill.svg", alt="g").profile__g__icon
                           .profile__many
                               p 2394 $
            main.main
                header.main__header
                    .main__title
                        h1 Календарь
                        img(src="img/calendar.svg", alt="calendar").main__title__icon
                    .main__section-toggle
                        .section-btn.section-btn-active Запросы
                        .section-btn Записи
                        .section-btn Архив
                .event__list#eventList
                    section.month(v-for="(events, key) in eventGroups")
                        header.month__header {{key}}
                        .record(v-for="event in events", :class="{noagreed: !event.isAgreed}")
                            .record__number {{event.date.getDate()}}
                            .record__time
                                .record__month {{monthsRod[event.date.getMonth()]}}
                                .record__time-interval {{event.timeFrom}} - {{event.timeTo}}
                                .record__agreed(v-if="!event.isAgreed")
                                    img(src="img/clock.svg", alt="")
                                    | Согласование
                            .record__info
                                .record__country
                                    img(:src="event.flag", alt="flag").icon-round
                                .record__avatar
                                    img(:src="event.avatar", alt="avatar").icon-round
                                .record__text
                                    .record__name(:class="{record__search: event.isSearch}")
                                        a(href="") {{event.men.name}}
                                    .record__description {{event.men.description}}
                            .record__event-type
                                div {{event.eventType}}
                                .record__country
                                    img(:src="event.eventIcon", alt="flag").icon-round
                            .record__settings(v-on:click="toggleList")
                                img(src="img/record-settings.svg", alt="settings")
                                ul.settings__list
                                    li.settings__item
                                        a(href="") Подтвердить
                                    li.settings__item
                                        a(href="") Удалить
            footer.footer
                .logo
                    img(src="img/logo-gray.svg", alt="logo")
                nav.footer__nav
                    ul
                        li.footer__nav__item
                            a(href="") О нас
                        li.footer__nav__item
                            a(href="") Помощь
                        li.footer__nav__item
                            a(href="") Репетиторам
                        li.footer__nav__item
                            a(href="") Аккредитация языковых школ
                        li.footer__nav__item
                            a(href="") Пользовательское соглашение
                        li.footer__nav__item
                            a(href="") Политика конфиденциальности
                .footer__apps
                    p Скачайте приложение и получите
                        br
                        | приветственный бонус!
                    a(href="#").apps__btn
                        img(src="img/app-store-badge.svg", alt="app-store")
                    a(href="#").apps__btn
                        img(src="img/google-play-badge.svg", alt="app-store")
                .footer__socials
                    a(href="#").socials-link
                        img(src="img/fb.svg", alt="facebook")
                    a(href="#").socials-link
                        img(src="img/vk.svg", alt="vkontakte")
                    a(href="#").socials-link.socials-link-inst
                        img(src="img/inst.svg", alt="instagram")

dist/index.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duotek test</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/libs.min.js"></script>
    <script src="js/records.js"></script>
    <script src="js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header">
        <div class="header__icons"><img src="img/logo.svg" alt="logo">
          <div class="header__nav-icon">
            <div class="header__hamburger"></div>
          </div>
        </div>
        <nav class="header__nav">
          <ul>
            <li class="header__nav__item header__nav__item-active"><a href="#">Календарь</a></li>
            <li class="header__nav__item"><a href="#">Сообщения</a></li>
            <li class="header__nav__item"><a href="#">Собеседники</a></li>
            <li class="header__nav__item"><a href="#">Репетиторы</a></li>
          </ul>
        </nav>
        <div class="profile">
          <div class="profile__avatar"><img class="icon-round" src="img/ava1.png" alt="avatar"></div>
          <div class="profile__info">
            <div class="profile__name"><a href="#">Екатерина М.</a></div>
            <div class="profile__stat">
              <div class="profile__g">
                <p>52</p><img class="profile__g__icon" src="img/fill.svg" alt="g">
              </div>
              <div class="profile__many">
                <p>2394 $</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <header class="main__header">
          <div class="main__title">
            <h1>Календарь</h1><img class="main__title__icon" src="img/calendar.svg" alt="calendar">
          </div>
          <div class="main__section-toggle">
            <div class="section-btn section-btn-active">Запросы</div>
            <div class="section-btn">Записи</div>
            <div class="section-btn">Архив</div>
          </div>
        </header>
        <div class="event__list" id="eventList">
          <section class="month" v-for="(events, key) in eventGroups">
            <header class="month__header">{{key}}</header>
            <div class="record" v-for="event in events" :class="{noagreed: !event.isAgreed}">
              <div class="record__number">{{event.date.getDate()}}</div>
              <div class="record__time">
                <div class="record__month">{{monthsRod[event.date.getMonth()]}}</div>
                <div class="record__time-interval">{{event.timeFrom}} - {{event.timeTo}}</div>
                <div class="record__agreed" v-if="!event.isAgreed"><img src="img/clock.svg" alt="">Согласование</div>
              </div>
              <div class="record__info">
                <div class="record__country"><img class="icon-round" :src="event.flag" alt="flag"></div>
                <div class="record__avatar"><img class="icon-round" :src="event.avatar" alt="avatar"></div>
                <div class="record__text">
                  <div class="record__name" :class="{record__search: event.isSearch}"><a href="">{{event.men.name}}</a></div>
                  <div class="record__description">{{event.men.description}}</div>
                </div>
              </div>
              <div class="record__event-type">
                <div>{{event.eventType}}</div>
                <div class="record__country"><img class="icon-round" :src="event.eventIcon" alt="flag"></div>
              </div>
              <div class="record__settings" v-on:click="toggleList"><img src="img/record-settings.svg" alt="settings">
                <ul class="settings__list">
                  <li class="settings__item"><a href="">Подтвердить</a></li>
                  <li class="settings__item"><a href="">Удалить</a></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </main>
      <footer class="footer">
        <div class="logo"><img src="img/logo-gray.svg" alt="logo"></div>
        <nav class="footer__nav">
          <ul>
            <li class="footer__nav__item"><a href="">О нас</a></li>
            <li class="footer__nav__item"><a href="">Помощь</a></li>
            <li class="footer__nav__item"><a href="">Репетиторам</a></li>
            <li class="footer__nav__item"><a href="">Аккредитация языковых школ</a></li>
            <li class="footer__nav__item"><a href="">Пользовательское соглашение</a></li>
            <li class="footer__nav__item"><a href="">Политика конфиденциальности</a></li>
          </ul>
        </nav>
        <div class="footer__apps">
          <p>Скачайте приложение и получите<br>приветственный бонус!</p><a class="apps__btn" href="#"><img src="img/app-store-badge.svg" alt="app-store"></a><a class="apps__btn" href="#"><img src="img/google-play-badge.svg" alt="app-store"></a>
        </div>
        <div class="footer__socials"><a class="socials-link" href="#"><img src="img/fb.svg" alt="facebook"></a><a class="socials-link" href="#"><img src="img/vk.svg" alt="vkontakte"></a><a class="socials-link socials-link-inst" href="#"><img src="img/inst.svg" alt="instagram"></a></div>
      </footer>
    </div>
  </body>
</html>
